<div id="content">
    <div class="line">
        <div id="destination">
            <span>
                <a href="#" class="text-decoration-none">
                    <b>Dashboard</b>
                </a>
                /
                <a href="#"class="text-decoration-none">
                    Home
                </a>
                /
                <a href="#"class="text-decoration-none">
                    All Site View
                </a>
            </span>
        </div>
        <div id="rep-period">
            <span>Reporting Period</span>
            <div class="b-g-color-fff d-flex termin">Last 30 Day's <div class="trigle-down"></div></div>
        </div>
    </div>

    <app-blocks></app-blocks>
    <app-earning-graph></app-earning-graph>

    <div class="line">
       <app-map class="map-content"></app-map>
       <app-trafic-sources class="trafic-content"></app-trafic-sources>
    </div>

    <app-recent-order></app-recent-order>

    <div class="line">
        <app-site-visits class="visits-content"></app-site-visits>
        <app-marceting-camping class="marceting-content"></app-marceting-camping>
    </div>

    
    
</div>