<div class="col-lg-12" id="header">
    <button class="sidebar-control">
      <img src="/assets/img/sidebar-control.png" alt="">
    </button>
    <div id="header-box">
      <div class="logo">
          <li class="main-text"><span class="text-decoration-none">SHOPPÉR</span> </li>
          <li class="second-text text-decoration-none"><span>BUY WITH HAPPINESS</span></li>
      </div>  
  </div>
    <nav id="main-nav">
      <div class="h-object h-meseg" id="bell">
        <img src="/assets/img/bell.png" alt="">
        <samp class="new-masege">8</samp>
      </div>
      <div class="h-object h-meseg" id="mail">
        <img src="/assets/img/mail-2.png" alt="">
        <samp class="new-masege">3</samp>
      </div>
      <div class="h-object h-meseg" id="rectangle">
        <img src="/assets/img/Rectangle.png" alt="">
        <samp class="new-masege">8</samp>
      </div>
    </nav>
       <div class="input-group form-control-header" >
          <input type="search" class="border-null class" aria-label="Search" aria-describedby="search-addon" />
        </div>
        <div id="h-prof">
        <img src="/assets/img/profile-img.png" alt="">
        <span>Jisan</span>
        <div class="trigle-down"></div>
      </div>
  </div>
