<div class="line">
    <div id="recent-order_box" class="b-g-color-fff shadow">
        <div class="head-item">
            <span><b>RECENT ORDER</b></span>
            <div>
                <img src="/assets/img/down.png" alt="">
                <img src="/assets/img/cross.png" alt="">
            </div>
        </div>
        <div class="any-content">
            <div class="line title">
                <span>IMAGE</span>
                <span class="p-n">PRODUCT NAME</span>
                <span class="p-c">PRODUCT CODE</span>
                <span class="status">STATUS</span>
                <span class="p-o">PURCHASED ON</span>
                <span class="price">PRICE</span>
                <span class="quantity">QUANTITY</span>
                <span class="tracking">TRACKING NO#</span>
            </div>
            <hr class="hr-color pos-rel">
            <div class="line">
                <div class="img-box"><img src="/assets/img/r-o-1.png" alt=""></div>
                <span class="p-n">Leisure Suit Casual</span>
                <span class="p-c">3BSD59</span>
                <span class="status prew b-g-color-0cc">Paid</span>
                <span class="p-o">27 Sep 2015</span>
                <span class="price">$99.00</span>
                <span class="quantity">2</span>
                <span class="tracking">#BG6R9853LP</span>
            </div>
            <div class="line">
                <div class="img-box"><img src="/assets/img/r-o-2.png" alt=""></div>
                <span class="p-n">Cotton Fleece Casual</span>
                <span class="p-c">3BH87G</span>
                <span class="status prew b-g-color-f1a80a">Pending</span>
                <span class="p-o">08 Sep 2015</span>
                <span class="price">$99.00</span>
                <span class="quantity">2</span>
                <span class="tracking">#368QRM83B</span>
            </div>
            <div class="line">
                <div class="img-box"><img src="/assets/img/r-o-3.png" alt=""></div>
                <span class="p-n">Formal Slim Fit Casual</span>
                <span class="p-c">4D3GHT</span>
                <span class="status prew b-g-color-0cc">Paid</span>
                <span class="p-o">25 Aug 2015</span>
                <span class="price">$99.00</span>
                <span class="quantity">2</span>
                <span class="tracking">#AXZ6F58T3V</span>
            </div>
            <div class="line">
                <div class="img-box"><img src="/assets/img/r-o-4.png" alt=""></div>
                <span class="p-n">Velvet Patchwork Casual</span>
                <span class="p-c">5D4H3G</span>
                <span class="status prew b-g-color-f63">Failed</span>
                <span class="p-o">27 Sep 2015</span>
                <span class="price">$99.00</span>
                <span class="quantity">2</span>
                <span class="tracking">#SD89HK561</span>
            </div>
        </div>
    </div>
</div>