<div id="site-visits_box" class="b-g-color-fff shadow">
    <div class="head-item">
        <span><b>SITE VISITS</b></span>
        <div>
            <img src="/assets/img/refresh.png" alt="">
            <img src="/assets/img/down.png" alt="">
            <img src="/assets/img/cross.png" alt="">
        </div>
    </div>
    <div class="any-content">
        <canvas id="site_visits" width="400" height="200"></canvas>
        <div class="line">
            <div class="lable">
                <img src="/assets/img/new-wisitors.png" alt="">
                <div class="text">
                    New Visitor
                    <b>12,202</b>
                </div>
            </div>
            <div class="lable">
                <img src="/assets/img/old-wisitors.png" alt="">
                <div class="text">
                    Old Visitor
                    <b>25,051</b>
                </div>
            </div>
        </div>
    </div>
</div>