<div id="top-search_box" class="b-g-color-fff shadow">
    <div class="head-item">
        <span><b>TOP SEARCH</b></span>
        <div>
            <img src="/assets/img/refresh.png" alt="">
            <img src="/assets/img/down.png" alt="">
            <img src="/assets/img/cross.png" alt="">
        </div>
    </div>
    <div class="d-flex">
        <div style="width: calc(100% - 151px); height:calc(100% - 50px);">
            <div id="topSearch_map"></div>
        </div>
        <div class="col" style="width: auto; height:100%;">
            <div class="top-country">
                <div><img src="/assets/img/USA.png" alt=""></div>
                <div>
                    America
                    <b>46%</b>
                </div>
            </div>
            <div class="top-country">
                <div><img src="/assets/img/UK.png" alt=""></div>
                <div>
                    U.Kingdom
                    <b>24%</b>
                </div></div>
            <div class="top-country">
                <div><img src="/assets/img/BD.png" alt=""></div>
                <div>
                    Bangladesh
                    <b>18%</b>
                </div></div>
            <div class="top-country">
                <div><img src="/assets/img/CD.png" alt=""></div>
                <div>
                    Canada
                    <b>12%</b>
                </div></div>
            <div class="top-country">
                <div><img src="/assets/img/RUS.png" alt=""></div>
                <div>
                    Russia
                    <b>10%</b>
                </div></div>
        </div>
    </div>
</div>