<div id="marceting-campaing_box" class="b-g-color-fff shadow">
    <div class="head-item">
        <span><b>MARCETING CAMPING</b></span>
        <div>
            <img src="/assets/img/refresh.png" alt="">
            <img src="/assets/img/down.png" alt="">
            <img src="/assets/img/cross.png" alt="">
        </div>
    </div>
    <div class="any-content">
        <div class="procent-r">Research <b>62%</b></div>
        <div class="procent-i">Information <b>17%</b></div>
        <div class="procent-d">Product Desing <b>13%</b></div>
        <div class="procent-p">Pacaging <b>8%</b></div>
        <div class="graph-form-control">
            <canvas id="marceting_camping" width="200" height="150"></canvas>
        </div>
    </div>
</div>