<div class="line">
    <div id="earning_box" class="b-g-color-fff shadow">
        <div class="head-item">
            <span><b>EARNING GRAPH OVERVIEW</b></span>
            <div>
                <img src="/assets/img/refresh.png" alt="">
                <img src="/assets/img/down.png" alt="">
                <img src="/assets/img/cross.png" alt="">
            </div>
        </div>
        <div class="any-content">
            <canvas  id="earning_graph" width="40" height="10"></canvas>
            <div class="line">
                <div class="legend-r"><b>$13,234</b>Revenue</div>
                <div class="legend-o"><b>2,35,090</b>Order</div>
                <div class="legend-t"><b>$1,34,900</b>Tax</div>
                <div class="legend-s"><b>$1,134</b>Shipment</div>
            </div>
        </div>
    </div>
</div>
