<div class="sidebar collapse show" id="side_nav">    
    <div id="profile">
        <div id="profile-img">
             <img src="/assets/img/profile-img.png">
        </div>
        <div id="profile-text">
            <li class="list-unstyled main-text">Jahangir Alam Jisan</li>
            <li class="list-unstyled second-text">UX Designer</li>
            <li class="list-unstyled icons-line">
                <i class="fa-solid fa-user"></i>
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-right-from-bracket"></i>
            </li>
        </div>
    </div>
    <div>
        <ul class="list-unstyled" >
            <li class=""><a href="#" class="text-decoration-none second-text">GENERAL</a></li>
            <li class="">
                <a href="#dd-dashboard" data-bs-toggle="collapse"class="text-decoration-none" aria-controls="dd-dashboard">
                    <img src="/assets/img/dashboard.png">Dashboard<img src="/assets/img/Layer.png"class="right">
                </a>
            </li>
            <div id="dd-dashboard" class="collapse">
                <ul class="list-unstyled dd-nav">
                    <li><a href="#" class="text-decoration-none"><div class="circle-green"></div>Dashboard 1</a></li>
                    <li><a href="#" class="text-decoration-none"><div class="circle-blue"></div>Dashboard 1</a></li>
                    <li><a href="#" class="text-decoration-none"><div class="circle-yelow"></div>Coming soon</a></li>
                </ul>
            </div>
            <li class=""><a href="#" class="text-decoration-none"><img src="/assets/img/layouts.png">Layouts<img src="/assets/img/Layer.png"class="right"></a></li>
            <li class=""><a href="#" class="text-decoration-none"><img src="/assets/img/pages.png">Pages<img src="/assets/img/Layer.png"class="right"></a></li>
        </ul>
        <hr class="hr-color">
        <ul class="list-unstyled">
            <li class=""><a href="#" class="text-decoration-none second-text">ELEMENTS</a></li>
            <app-sidebar-menu-items 
            *ngFor="let item of menuItems"
            [icon]="item.icon" 
            [label]="item.label">
          </app-sidebar-menu-items>
        </ul>        
    </div>
</div>