#trafic-sources_box{
    height: 450px;
    // width: 30%;
    .any-content{
        img{
        width: 80px;
        height: 20px;
    }}
}
.shadow{
    box-shadow: 0px 0px 2px black;
}
.b-g-color-fff{
    background-color: #fff;
}
.head-item{
    display: flex;
    img:hover{
        cursor: pointer;
        background-color: #dfdfdf;
    }
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 20px 10px 20px 20px;
    color: #777;
    border-bottom: 1px solid #e8e8e8;
    font-size: 13px;
    font-family: 'lato';
    img{
        margin-right:15px;
    }
}
.line{
    width: 100%;
    margin: 2% 0 1% 0;
    display: flex;
    justify-content: space-between;
}
.any-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    height: calc(100% - 50px);
    width: 100%;
}
.prew{
    display: flex;
    color: #f1f1f1;
    width: 80px;
    background-color: #fff;
    z-index: 1;
    border: #ccc 1px solid;
    border-radius: 8px/50%;
    justify-content: center;
}
.b-g-color-36f{
    background-color: #36f;  
    border: #36f;  
}
.b-g-color-f1a80a{
    background-color: #f1a80a;
    border: #f1a80a;    
}
.b-g-color-0cc{
    background-color: #00cccc;  
    border: #00cccc;  
}
.b-g-color-85c875{
    background-color: #85c875;
    border: #85c875;    
}
.b-g-color-f63{
    background-color: #ff6633; 
    border: #ff6633;   
}