<div id="trafic-sources_box" class="b-g-color-fff shadow">
    <div class="head-item">
        <span><b>TRAFIC SOURCES</b></span>
        <div>
            <img src="/assets/img/down.png" alt="">
            <img src="/assets/img/cross.png" alt="">
        </div>
    </div>
    <div class="any-content">
        <div class="line">
            <div class="prew b-g-color-36f">Direct</div>
            <div class="trafic-count">1200</div>
            <img src="/assets/img/t-s-1.png" alt="">
        </div>
        <div class="line">
            <div class="prew b-g-color-0cc">Refer</div>
            <div class="trafic-count">1150</div>
            <img src="/assets/img/t-s-2.png" alt="">
        </div>
        <div class="line">
            <div class="prew b-g-color-f1a80a">Social</div>
            <div class="trafic-count">980</div>
            <img src="/assets/img/t-s-3.png" alt="">
        </div>
        <div class="line">
            <div class="prew b-g-color-85c875">Search</div>
            <div class="trafic-count">720</div>
            <img src="/assets/img/t-s-4.png" alt="">
        </div>
        <div class="line">
            <div class="prew b-g-color-f63">Internal</div>
            <div class="trafic-count">600</div>
            <img src="/assets/img/t-s-5.png" alt="">
        </div>
    </div>
</div>