<li class="">
    <a href="#" class="text-decoration-none">
        <img [src]="icon" [alt]="label">
        {{ label }}
    </a>
</li>

<!-- <li class=""><a href="#" class="text-decoration-none"><img src="../img/invoice.png">Invoice</a></li>
<li class=""><a href="#earning_box" class="text-decoration-none"><img src="/assets/img/charts.png">Charts</a></li>
<li class=""><a href="#" class="text-decoration-none"><img src="/assets/img/snippets.png">Snippets</a></li>
<li class=""><a href="#" class="text-decoration-none"><img src="/assets/img/vidgets.png">UI Widgets</a></li>
<li class=""><a href="#" class="text-decoration-none"><img src="/assets/img/forms.png">Forms</a></li>
<li class=""><a href="#" class="text-decoration-none"><img src="/assets/img/componets.png">Componnets</a></li>
<li class=""><a href="#" class="text-decoration-none"><img src="/assets/img/plugin.png">Plugins</a></li>
<li class=""><a href="#" class="text-decoration-none"><img src="/assets/img/email.png">Email</a></li> -->